body{
    font-family: Roboto;
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#container{
    width: 45%;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

h1{
    background-color: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
}

input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    font-weight: 300;
    border: 3px solid rgba(0,0,0,0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
input:focus{
    background-color: #fff;
    outline: none;
    border: 3px solid #2980b9

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background-color: white;
    height: 40px;
    color: #666666;
    line-height: 40px;
}

li:nth-child(2n){
    background-color: #f7f7f7;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

.completed{
    color: grey;
    text-decoration: line-through;
}



.fa-plus{
    color: white;
    float: right;
}

span{
    background: #E74C3C;
    height: 28px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
    position: inherit;
    padding-top: 10px;
}
